@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.woff2') format('woff2'),
        url('TTLakes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.woff2') format('woff2'),
        url('TTLakes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    background-color: #F8F8F8;
    margin: 0;
    font-family: "TT Lakes";
    font-weight: normal;
}

summary {
    display: flex;
    width: 50%;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    list-style: none;
}

summary::after {
    content: 'Читать далее';
}

details[open] > summary::after
{
  content: 'Скрыть текст';
  color: gray;
}

.main__blog__article-more {
    margin-top: 10px;
    width: 50%;
    font-size: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
  }

li {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.req {
    gap: 10px;
}

button {
    display: flex;
    flex-wrap: nowrap;
    font-family: "TT Lakes";
    font-weight: normal;
    font-size: 16px;
    border: none;
    background-color: #f8f8f8;
    color: #7E7E82;
    cursor: pointer;
    padding: 5px 20px;
    
}

.slider {
    width: auto;
    padding: 5px 20px;
    margin: 2px 2px;
    width: max-content;
    
}

.slider:hover {
    margin: 0px 0px;
    font-family: "TT Lakes";
    font-weight: normal;
    border: 2px solid #B8FFEC;
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff;
    align-items: center;
    padding: 5px 20px;
}

a:hover {
    cursor: pointer;
}

.main__banner__request {
    margin-right: 4%;
    display: none;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.header {
    display: block;
    background-color: #FFFFFF;
    height: 88px;
    border-bottom: 1px solid #B8FFEC;
}

.header__imgs {
    height: 88px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
} 

.header__imgs__menu {
    width: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.header__imgs__feedback {
    width: 100%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;    
}

.header__imgs__feedback__comun {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;    
}

.main {
    margin-top: 25px;
}

.main__banner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.title-name {
    padding-left: 20px;
}

.main__banner__title {
    color: #1B1C21;
    font-size: 28px;
    font-family: "TT Lakes";
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start; 
    flex-wrap: nowrap; 
    gap: 10px;
}

.main__slider__ul {
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 0px 30px;
    
}

.main__blog {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    margin-top: 20px;
    
}

.main__blog__article {
    font-size: 14px;
    margin-bottom: 15px;
}

.main__blog__read {
    width: 80%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    color: #1B1C21;
    margin-left: -20px;
    margin-top: 10px;
}

.main__blog__maxi-pic {
    margin-left: auto;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-image: url('img/maxi-pic.jpg');
    background-size: contain;
    overflow: visible;
    background-position: right;
    background-repeat: no-repeat;
}

.main__blog__mini-pic {

}

.last-pic {
    display: none;
    width: 50%;
    margin-left: auto;
}

.photo {
    width: 100%;
}

@media (max-width: 460px) {

    .header__imgs__feedback__comun {
        display: none;
         }

    .second-phar,
    .third-phar {
        display: none;
    }
}

@media (max-width: 779px) {

    .third-phar {
        display: none;
    }

    .title-name {
        padding: 0px 5px;
    }

    .main__blog {
        padding: 0px 0px;
    }

    .main__blog__maxi-pic {
        display: none;
    }

    .main__blog__read {
        margin-top: 5px;
        margin-bottom: 15px;
        margin-left: 3px;
    }

    .main__blog__article {
        margin: 0px 15px;
        width: 90vw;
        height: auto;
    }

    .main__blog__mini-pic {
        width: 100%;
    }
}

@media (min-width: 780px) {

    .main__blog__article {
        width: 40%;
        height: 40%;
        margin-bottom: 20px;
    }

    .second-phar {
        display: inline;
    }

    .title-name {
        padding-left: 15px;
    }

    .main__blog {
        justify-content: start;
        height: 350px;
        flex-flow: column wrap;
        padding: 0px 30px;
    }

    .main__blog__mini-pic {
        display: none;
    }

    .main__blog__read {
        margin-top: 5px;
        margin-left: -5px;
    }

    .third-phar {
        display: none;
    }

    .main__blog__maxi-pic {
        width: 50vw;
    }

    .last-pic {
        display: flex;
    }

}

@media (min-width: 824px) {
    .main__blog__article {
        margin-bottom: 5px;
    }
}

@media (min-width: 1043px) {

    .main__blog__article {
        width: 45%;
        height: auto;
        margin-bottom: 10px;
    }

    .header {
        display: none;
    }

    .main__slider__ul {
        height: 80px;
        flex-wrap: wrap;
    }

    button {
        width: 100%;
    }

    .third-phar {
        display: inline;
    }

    .main__blog__read {
        margin-top: 10px;
        padding-left: 5px;
    }

    .main__banner__request {
        width: 50%;
        display: flex;
        justify-content: end;
    }

}
