
@font-face {
    font-family: "TT Lakes";
    font-style: bold;
    src: local("TT Lakes Bold"),
         url("/fonts/TTLakes/TTLakes-Bold.ttf") format("ttf"),
         url("/fonts/TTLakes/TTLakes-Bold.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    src: local("TT Lakes Regular"),
         url("/fonts/TTLakes/TTLakes-Regular.ttf") format("ttf"),
         url("/fonts/TTLakes/TTLakes-Regular.woff") format("woff");
}

body {
    background-color: #F8F8F8;
    margin: 0;
    font-family: TT Lakes normal;
}

ul {
    list-style-type: none;
    margin: 0;
  }

li {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.req {
    gap: 10px;
}

button {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'TT Lakes Regular';
    font-size: 16px;
    border: none;
    background-color: #f8f8f8;
    color: #7E7E82;
    cursor: pointer;
    
}

.slider {
    width: auto;
    padding: 0px 10px;
    margin: 2px 2px;
    width: max-content;
    
}

.slider:hover {
    margin: 0px 0px;
    font-family: 'TT Lakes Regular';
    border: 2px solid #B8FFEC;
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff;
    align-items: center;
}

a:hover {
    cursor: pointer;
}

.main__banner__request {
    margin-right: 4%;
    display: none;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.header {
    display: block;
    background-color: #FFFFFF;
    height: 88px;
    border-bottom: 1px solid #B8FFEC;
}

.header__imgs {
    height: 88px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
} 

.header__imgs__menu {
    width: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.header__imgs__feedback {
    width: 100%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;    
}

.header__imgs__feedback__comun {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;    
}

.main {
    margin-top: 25px;
}

.main__banner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.title-name {
    padding-left: 20px;
}

.main__banner__title {
    color: #1B1C21;
    font-size: 28px;
    font-family: TT Lakes Bold;
    display: flex;
    align-items: center;
    justify-content: start; 
    flex-wrap: nowrap; 
    gap: 10px;
}

.main__slider__ul {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 0px 30px;
    
}

.main__blog {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    margin-top: 20px;
    
}

.main__blog__article {
    font-size: 14px;
    margin-bottom: 15px;
}

.main__blog__read {
    width: 80%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    color: #1B1C21;
    margin-left: -20px;
    margin-top: 10px;
}

.main__blog__maxi-pic {
    margin-left: auto;
    width: 100vh;
    height: 100vh;
    background-image: url('img/maxi-pic.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.main__blog__mini-pic {

}

.photo {
    width: 100%;
}

@media (max-width: 460px) {

    .header__imgs__feedback__comun {
        display: none;
         }

    .second-phar,
    .third-phar {
        display: none;
    }
}

@media (max-width: 779px) {

    .third-phar {
        display: none;
    }

    .title-name {
        padding: 0px 5px;
    }

    .main__blog {
        padding: 0px 0px;
    }

    .main__blog__maxi-pic {
        display: none;
    }

    .main__blog__read {
        margin-top: 5px;
        margin-bottom: 15px;
        margin-left: 3px;
    }

    .main__blog__article {
        margin: 0px 15px;
        width: 90vw;
        height: auto;
    }

    .main__blog__mini-pic {
        width: 100%;
    }
}

@media (min-width: 780px) {

    .main__blog__article {
        width: 40%;
        height: 40%;
    }

    .second-phar {
        display: inline;
    }

    .title-name {
        padding-left: 15px;
    }

    .main__blog {
        justify-content: start;
        height: 350px;
        flex-flow: column wrap;
        padding: 0px 30px;
    }

    .main__blog__mini-pic {
        display: none;
    }

    .main__blog__read {
        margin-left: -5px;
    }

    .third-phar {
        display: none;
    }

    .main__blog__maxi-pic {
        width: 50vw;
    }

}

@media (min-width: 1043px) {

    .main__blog__article {
        width: 45%;
        height: auto;
        margin-bottom: 0;
    }

    .header {
        display: none;
    }

    .main__slider__ul {
        height: 70px;
        flex-wrap: wrap;
    }

    button {
        width: 100%;
    }

    .main__blog__mini-pic {
        display: none;
    }

    .third-phar {
        display: inline;
    }

    .main__blog__read {
        margin-top: 10px;
        padding-left: 5px;
    }

    .main__banner__request {
        width: 50%;
        display: flex;
        justify-content: end;
    }

}
